---
language: /tr
---

<html>

<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="content-language" content="tr-TR">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body class="{{ page.body_class }}">
    <header class="header">
        <div class="header-contents">
            <a href="{{ layout.language }}/" class="logo"><img src="/images/logo-header.png" alt="Puzly.Co"></a>
        </div>
    </header>

    {{ content | remove: '<p>' | remove: '</p>' }}

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Puzly.Co</h4>
                    <ul>
                        <li><a href="https://puzly.co/{{ layout.language }}/#about" target="_blank">Hakkında</a></li>
                        <li><a href="https://puzly.co/{{ layout.language }}/#games" target="_blank">Oyunlar</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Yasal</h4>
                    <ul>
                        <li><a href="/tr/privacy.html">Gizlilik Politikası</a></li>
                        <li><a href="https://puzly.co/{{ layout.language }}/tos.html" target="_blank">Kullanım Koşulları</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Sosyal Medya</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/PuzlyCo" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/PuzlyCo" target="_blank"><i class="fab fa-twitter"></i></a>
                        <!-- <a href="https://www.instagram.com/PuzlyCo" target="_blank"><i class="fab fa-instagram"></i></a> -->
                        <a href="https://www.youtube.com/@PuzlyCo" target="_blank"><i class="fab fa-youtube"></i></a>
                        <!-- <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a> -->
                    </div>
                </div>
{% if page.show_language_options == true %}
                <div class="footer-col">
                    <h4>Dil</h4>
                    <ul class="language-options">
                        <li><a href="{{ page.url | replace_first: layout.language,"" }}"><img class="lang-icon" src="/images/british-flag.png" />English</a></li>
                    </ul>
                </div>
{% endif %}
            </div>
        </div>
    </footer>
</body>

</html>